# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List Commonly used Libraries in Data Science
* List Popular Languages for Data Science
* List Open Source Development Environments for Data Science
* Evaluation of Arithematic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow

| Data Science Tools |
| --- |
| Jupyter Notebook|
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ayesha Arshad